.header__logo img {
    padding: 10px;
    width: 150px;
    height: 150px;

}
.header__container {
    background-color: rgb(235, 16, 16);
}
 .body2 {
    background-color: gold;
    width: 2000px;
    height: 2000px;
align-items: center;

 }
 .body3 {
    background-color: yellow;
    width: 2000px;
    height: 2000px;
    align-items: center;
 }
 .body3img {
    width: 500px;
    height: 2000px;
    
 }
 .body4 {
    background-color: gold;
    width: 2000px;
    height: 2000px;
align-items: center;
  
 }
    

 .body5img {
    background-color: gold;
    width: 4000px;
    height: 4000px;
    padding: 80px;

  
 }